body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 16px;
    min-width: 0;
}               /* header */

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}               /* header */

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    justify-content: flex-end;
}               /* header */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}               /* header */

/*---------------------------------------*/
.about-top { 
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 48px;
    min-width: 0;
    min-height: 0;
}               /* top */

.about {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
    min-width: 230;
    min-height: 290;
    max-width: 40vh;
}               /* top */

.main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}               /* top */

.sub {
    color: #E5E7EB;

}               /* top */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 6px 24px;
    align-self: flex-start;
}               /* top */

.image {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: 18px;
    color: #E5E7EB;
    height: 230px;
    min-width: 265px; 
    max-width: 40vh;
}               /* top */

/*---------------------------------------*/
.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}               /* info */

.info-header {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 42px;
    text-align: center;
}               /* info */

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}               /* info */

.card-cont {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 212px;
    min-height: 0;
    flex-wrap: row;
}               /* info */

.card {
    display: flex;
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}               /* info */

.subtext {
    display: flex;
    text-align: center;
    margin-top: 8px;
}               /* info */
/*------------------------------------------*/
.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}               /* quote */

.quote-cont {
    display: flex;
    flex-direction: column;
    width: 820px;
}               /* quote */

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 8px;
}               /* quote */

.author {
    display: flex;
    align-self: flex-end;
    font-weight: 900;
}               /* quote */

/*------------------------------------------*/

.signup {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.bluecard {
    display: flex;
    background-color: #3882F6;
    padding: 40px;
    width: 800px;
    border-radius: 8px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
}

.call-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.call {
    display: flex;
    font-weight: 900;
}

.call-sub {
    display: flex;
    color:#E5E7EB;
}

button#two {
    display: flex;
    border-color: white;
    box-shadow: none;
    align-self: center;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


