body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 30vh;
    
}               /* header */

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}               /* header */

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}               /* header */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}               /* header */

.about-top {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 7vh 30vh;
    height: 230px;
    gap: 48px;
}

.about {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    gap: 16px;
}

.main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.sub {
    color: #E5E7EB;

}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: 18px;
    color: #E5E7EB;
    height: 100%;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 6px 24px;
    align-self: flex-start;
}